<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a href="http://www.baidu.com">Click Here</a>
	<table width ="768" align="center" border="2">
	<tr>
		<th width = "30%" align = "center">编号</th>
		<th width = "30%" align = "center">名称</th>
		<th align= "center">性格</th>
	</tr>
	<tr>
		<td rowspan="2" colspan="2">
			<font size="5" color="red">狮子</font>
		</td>
		<td>暴躁</td>
	</tr>
	<tr>
		<td>十分暴躁</td>
	</tr>
		
		
	
	
	
	</table>
</body>
</html>